/* font persian */
@font-face {
  font-family: "shabnam";
  src: url("./assets/fonts/Shabnam-FD.eot") format("eot"),
    url("./assets/fonts/Shabnam-FD.ttf") format("ttf"),
    url("./assets/fonts/Shabnam-FD.woff") format("woff");
}

:root {
  --color-white: #fff;
  --color-white-2: #f1f1f1;
  --color-black: #000;
  --color-black-2: #555;
  --color-primary: #1d1ce5;
  --color-gray: #aaa;
  --color-gray-light: #ddd;
  --color-orange: orange;
}

/* reset css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  direction: rtl;
  font-family: "shabnam";
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--color-black);
}
input {
  font-family: "shabnam";
  outline: none;
}
.container {
  width: 1380px;
  max-width: 90%;
  margin: 0 auto;
}

/* ===== section styles ===== */
section {
  width: 100%;
}
section:not(.banner-home-section, .call-to-action, .register-section, .login-section) {
  padding-top: 5rem;
}
.section-subtitle {
  font-size: 1rem;
  color: var(--color-black-2);
  line-height: 30px;
}

/* ===== button styles ===== */
.btn-primary,
.btn-primary-light {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 25px;
  font-size: 14px;
  text-align: center;
  border: 1px solid var(--color-primary);
  transition: 0.2s ease-in;
}
.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.btn-primary-light {
  background-color: var(--color-white);
  color: var(--color-primary);
}
.btn-primary:hover {
  background-color: var(--color-white);
  color: var(--color-primary);
}
.btn-primary-light:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

/* header styles */
.container-header {
  display: grid;
  grid-template-columns: auto 2fr;
  align-items: center;
  column-gap: 15px;
  padding: 20px 15px;
}
.menu-bars {
  display: none;
  position: relative;
  width: 35px;
  height: 22px;
}
.menu-bars span {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--color-black);
  border-radius: 10px;
}
.menu-bars span:first-child {
  top: 0;
}
.menu-bars span:nth-child(2) {
  top: 50%;
}
.menu-bars span:last-child {
  top: 100%;
}
.header {
  background-color: var(--color-white);
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  right: 0;
  box-shadow: 0 15px 20px 2px rgba(0, 0, 0, 0.2);
}
.navbar-buttons {
  display: grid;
  grid-template-columns: 70% auto;
  align-items: center;
}
.navbar ul {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  justify-content: center;
  column-gap: 15px;
}
.navbar ul li a {
  display: inline-block;
  padding: 6px 10px;
  transition: 0.2s ease-in;
}
.navbar ul li a:hover {
  color: var(--color-primary);
  transform: translateX(-4px);
}
.header-buttons {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  justify-content: end;
  align-items: center;
  column-gap: 5px;
}
.cart-button {
  padding: 5px 10px;
  text-align: left;
}
.cart-button .fa {
  font-size: 1.2rem;
}

/* banner-home styles */
.banner-home-section {
  background-color: var(--color-primary);
  margin-top: 4.5rem;
  padding: 3rem 0;
}
.banner-home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.banner-content {
  display: grid;
  row-gap: 18px;
}
.banner-content h1 {
  color: var(--color-white);
}
.banner-content-desc {
  color: var(--color-gray-light);
  line-height: 32px;
  font-size: 0.95rem;
}
.banner-image {
  display: grid;
  justify-items: end;
}
.banner-image img {
  max-width: 500px;
}
.form {
  position: relative;
  width: 350px;
  height: 40px;
}
.form input {
  position: absolute;
  width: 100%;
  font-size: 1rem;
  padding: 7px 8px 7px 0;
  border: none;
  border-radius: 10px;
  outline: none;
}
.form button[type="submit"] {
  position: absolute;
  padding: 8px 9px;
  left: 0;
  top: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}
.form button[type="submit"] .fa {
  font-size: 1.3rem;
  color: var(--color-gray);
  transition: 0.3s ease-in;
  transform: rotate(90deg);
}
.form input:focus + button[type="submit"] .fa,
.form input:not(:placeholder-shown) + button[type="submit"] .fa {
  transform: rotate(0);
  color: var(--color-black);
}
.domain-list {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  column-gap: 55px;
}
.domain-list-item {
  display: grid;
  row-gap: 8px;
}
.domain-list-item p {
  color: var(--color-orange);
  text-align: center;
  font-size: 1.2rem;
}
.domain-price {
  display: grid;
  color: var(--color-white);
  font-size: 0.86rem;
  text-align: center;
}

/* promo styles */
.promo-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 35px;
  justify-content: center;
}
.promo-item {
  padding: 1rem;
  border-radius: 25px;
  border: 1px solid var(--color-gray-light);
  display: grid;
  grid-template-rows: repeat(3, auto);
  row-gap: 23px;
  justify-items: center;
  transition: 0.3s ease-out;
}
.promo-container a:hover .promo-item {
  box-shadow: 0 0 20px 8px var(--color-gray-light);
  border-color: transparent;
  transform: scale(1.05);
}
.promo-item .fa {
  font-size: 2rem;
  color: var(--color-primary);
  transition: 0.3s ease-out;
}
.promo-container a:hover .promo-item .fa {
  color: var(--color-orange);
}
.promo-desc {
  color: var(--color-black-2);
  font-size: 0.9rem;
  text-align: center;
}

/* about styles */
.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 30px;
}
.about-content {
  display: grid;
  justify-items: start;
  row-gap: 25px;
}
.about-desc {
  font-size: 0.92rem;
  color: var(--color-black-2);
  line-height: 30px;
}
.about-options ul {
  display: grid;
  row-gap: 12px;
}
.about-options ul li .fa {
  color: var(--color-primary);
  margin-left: 4px;
}
.about-options ul li span {
  font-size: 0.86rem;
  color: var(--color-black-2);
}
.about-image img {
  width: 100%;
}

/* our-services styles */
.our-services-section {
  background-color: var(--color-white-2);
  margin-top: 3rem;
}
.services-title-container {
  width: 70%;
  margin: 0 auto;
  display: grid;
  row-gap: 25px;
  justify-items: center;
}
.our-services-items {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  grid-template-rows: repeat(3, auto);
  gap: 25px;
  margin-top: 3rem;
}
.our-service-item {
  display: grid;
  justify-items: center;
  align-content: center;
  row-gap: 20px;
  padding: 2rem;
  background-color: var(--color-white);
  border-radius: 25px;
  text-align: center;
  transition: .2s ease-in;
}
.our-service-item:hover {
  transform: scale(1.04);
}
.our-service-desc {
  display: grid;
  grid-template-rows: repeat(3, auto);
  row-gap: 10px;
  justify-items: center;
}
.our-service-desc .fa {
  font-size: 2.5rem;
  color: var(--color-primary);
}
.our-service-desc p {
  color: var(--color-black-2);
  font-size: 0.92rem;
  line-height: 30px;
}
.our-service-price {
  font-size: 0.7rem;
}
.our-service-price span {
  font-weight: bold;
}

/* call-to-action styles */
.call-to-action {
  background: url("./assets/img/hero-bg-4.jpg") center no-repeat fixed;
  position: relative;
}
.overlay-action {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5rem 0;
}
.call-to-action-container {
  display: grid;
  justify-items: center;
  row-gap: 25px;
}
.call-to-action h2 {
  color: var(--color-white);
  font-weight: bold;
}
.call-to-action p {
  color: var(--color-white);
}
.call-to-action-btn {
  font-size: 0.94rem;
  padding: 0.5rem 1rem;
}

/* pricing styles */
.pricing-title-container {
  width: 70%;
  margin: 0 auto;
  display: grid;
  row-gap: 20px;
  justify-items: center;
}
.pricing-pack-items {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  column-gap: 20px;
  justify-content: space-between;
}
.pricing-pack-item {
  display: grid;
  row-gap: 25px;
  justify-items: center;
  border: 1px solid var(--color-gray-light);
  border-radius: 25px;
  padding: 2rem;
  transition: .2s ease-in;
  overflow: hidden;
}
.pricing-pack-item:hover {
  box-shadow: 0 0 25px 10px var(--color-white-2);
  transform: translateY(-5%);
}
.pricing-pack-item.popular-pack {
  border-color: var(--color-primary);
  position: relative;
}
.pricing-pack-item.popular-pack::before {
  position: absolute;
  content: "پیشنهادی";
  width: 450px;
  padding: 5px 0;
  top: 4%;
  right: -65%;
  font-size: .9rem;
  background-color: var(--color-primary);
  transform: rotate(45deg);
  color: var(--color-white);
  text-align: center;
}
.pricing-pack-price {
  font-size: 1.1rem;
  font-weight: bold;
}
.pricing-pack-price span {
  font-size: .9rem;
  color: var(--color-black-2);
}
.pricing-pack-feature ul {
  display: grid;
  row-gap: 15px;
}
.pricing-pack-feature ul li {
  color: var(--color-black-2);
  font-size: .9rem;
}
.pricing-pack-feature ul span {
  font-weight: bold;
}

/* footer styles */
.footer {
  background-color: var(--color-primary);
  margin-top: 3rem;
  padding: 2rem 0;
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 24%);
}
.footer-col {
  display: grid;
  align-content: start;
  row-gap: 13px;
}
.footer-col h4 {
  color: var(--color-white);
}
.footer-col ul {
  display: grid;
  row-gap: 10px;
}
.footer-col ul li a {
  color: var(--color-white);
  font-size: .9rem;
}

/* ------ login & register pages styles ------ */
.login-section,
.register-section {
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-primary);
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  align-items: center;
}
.form-container {
  width: 40%;
  max-width: 90%;
  background-color: var(--color-white);
  border-radius: 25px;
  box-shadow: 0 0 25px 3px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  display: grid;
  justify-items: center;
}
.login-form-logo,
.register-form-logo {
  width: 100%;
  text-align: center;
}
.login-form-logo a,
.register-form-logo a {
  display: block;
}
.login-form,
.register-form {
  width: 80%;
  margin: 0 auto;
  display: grid;
  row-gap: 25px;
  margin-top: 2rem;
}
.form-group {
  width: 100%;
  position: relative;
}
.form-group span {
  position: absolute;
  display: inline-block;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  font-size: .9rem;
  color: var(--color-black-2);
  pointer-events: none;
  transition: .3s ease-in;
  padding: 2px 5px;
  background-color: var(--color-white);
}
.form-group input {
  width: 100%;
  padding: 8px 9px;
  border: none;
  border-radius: 8px;
  border: 1px solid var(--color-gray-light);
  font-size: 1.05rem;
}
.form-group input:focus + span,
.form-group input:not(:placeholder-shown) + span {
  top: -10%;
}
.forget-password {
  color: var(--color-primary);
  font-size: .9rem;
  text-align: left;
  padding: 5px 0;
}
.links-register-form,
.links-login-form {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
}
.remember-me,
.terms-service-container {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  column-gap: 5px;
  align-items: center;
}
.remember-me span,
.terms-service-container span {
  font-size: .9rem;
  color: var(--color-black-2);
}
.submit-login,
.submit-register {
  border: none;
  border-radius: 8px;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: 1rem;
  padding: 8px 0;
  cursor: pointer;
}
.link-register,
.link-login {
  font-size: .95rem;
  margin-top: 2rem;
}
.link-register a,
.link-login a {
  color: var(--color-primary);
}
.terms-service {
  color: var(--color-primary);
}

/* ===== Responsive ===== */
@media screen and (max-width: 991px) {
  .menu-bars {
    display: block;
  }
  .navbar-buttons {
    position: absolute;
    right: -100%;
    top: 100%;
    min-width: 22%;
    height: 100vh;
    padding: 1rem;
    grid-template-columns: 1fr;
    align-items: start;
    background-color: var(--color-white);
    box-shadow: -20px 25px 25px 5px rgba(0, 0, 0, 0.2);
    transition: .3s ease-in;
    z-index: 10000;
  }
  .navbar ul {
    grid-auto-flow: row;
    row-gap: 25px;
    justify-content: start;
  }
  .container-header {
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }
  .header-buttons {
    grid-auto-flow: row;
    grid-auto-columns: auto;
    justify-content: stretch;
    row-gap: 10px;
  }
  .cart-button {
    text-align: right;
  }
  .form-container {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .banner-home {
    grid-template-columns: 100%;
    row-gap: 30px;
  }
  .banner-image {
    justify-items: center;
  }
  .promo-container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
  }
  .about-container {
    grid-template-columns: 1fr;
    row-gap: 50px;
  }
  .our-services-items {
    grid-template-columns: repeat(2, 1fr);
  }
  .pricing-pack-items {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
  }
  .our-services-section {
    padding-bottom: 3rem;
  }
}

@media screen and (max-width: 576px) {
  .promo-container {
    grid-template-columns: 1fr;
  }
  .our-services-items {
    grid-template-columns: 1fr;
  }
  .services-title-container,
  .pricing-title-container {
    width: 100%;
  }
  .pricing-pack-items {
    grid-template-columns: 80%;
    justify-content: center;
    row-gap: 20px;
  }
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 25px;
  }
  .form {
    width: 100%;
  }
  .domain-list {
    display: none;
  }
  .form-container {
    width: 95%;
  }
  .login-form,
  .register-form {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .pricing-pack-items {
    grid-template-columns: 1fr;
  }
  .remember-me span,
  .terms-service-container span {
    font-size: .8rem;
  }
  .forget-password {
    font-size: .8rem;
  } 
  .link-register,
  .link-login {
    font-size: .85rem;
  }
}

@media screen and (max-width: 300px) {
  .links-login-form,
  .links-register-form {
    grid-template-columns: 1fr;
    row-gap: 10px;
    justify-content: start;
  }
  .forget-password {
    text-align: right;
  }
}