/* font persian */
@font-face {
  font-family: "shabnam";
  src: url("./assets/fonts/Shabnam-FD.eot") format("eot"),
    url("./assets/fonts/Shabnam-FD.ttf") format("ttf"),
    url("./assets/fonts/Shabnam-FD.woff") format("woff");
}

:root {
  --color-white: #fff;
  --color-white-2: #f1f1f1;
  --color-black: #000;
  --color-black-2: #555;
  --color-primary: #1d1ce5;
  --color-gray: #aaa;
  --color-gray-light: #ddd;
  --color-orange: orange;
}

/* reset css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  direction: rtl;
  font-family: "shabnam";
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--color-black);
}
input {
  font-family: "shabnam";
}

.container {
  max-width: 1380px;
  margin: 0 auto;
}
section {
  width: 100%;
}
section:not(.banner-home-section) {
  padding-top: 5rem;
}

/* ===== button styles ===== */
.btn-primary,
.btn-primary-light {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 15px;
  font-size: 14px;
  text-align: center;
  border: 1px solid var(--color-primary);
  transition: 0.2s ease-in;
}
.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.btn-primary-light {
  background-color: var(--color-white);
  color: var(--color-primary);
}
.btn-primary:hover {
  background-color: var(--color-white);
  color: var(--color-black);
}
.btn-primary-light:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}


/* header styles */
.container-header {
  display: grid;
  grid-template-columns: auto 2fr 260px;
  column-gap: 15px;
  padding: 20px 15px;
}
.header {
  background-color: var(--color-white);
}
.navbar ul {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  justify-content: center;
  column-gap: 15px;
}
.navbar ul li a {
  display: inline-block;
  padding: 6px 10px;
  transition: 0.2s ease-in;
}
.navbar ul li a:hover {
  color: var(--color-primary);
  transform: translateX(-4px);
}
.header-buttons {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 5px;
}
.cart-button {
  padding: 5px 10px;
}
.cart-button .fa {
  font-size: 1.2rem;
}

/* banner-home styles */
.banner-home-section {
  height: 680px;
  background-color: var(--color-primary);
}
.banner-home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.banner-content {
  display: grid;
  row-gap: 18px;
}
.banner-content h1 {
  color: var(--color-white);
}
.banner-content-desc {
  color: var(--color-gray-light);
  line-height: 32px;
  font-size: 0.95rem;
}
.banner-image {
  display: grid;
  justify-items: end;
}
.banner-image img {
  max-width: 500px;
}
.form {
  position: relative;
  width: 350px;
  height: 40px;
}
.form input {
  position: absolute;
  width: 100%;
  font-size: 1rem;
  padding: 7px 8px 7px 0;
  border: none;
  border-radius: 10px;
  outline: none;
}
.form button[type="submit"] {
  position: absolute;
  padding: 8px 9px;
  left: 0;
  top: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}
.form button[type="submit"] .fa {
  font-size: 1.3rem;
  color: var(--color-gray);
  transition: 0.3s ease-in;
  transform: rotate(90deg);
}
.form input:focus + button[type="submit"] .fa,
.form input:not(:placeholder-shown) + button[type="submit"] .fa {
  transform: rotate(0);
  color: var(--color-black);
}
.domain-list {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  column-gap: 55px;
}
.domain-list-item {
  display: grid;
  row-gap: 8px;
}
.domain-list-item p {
  color: var(--color-orange);
  text-align: center;
  font-size: 1.2rem;
}
.domain-price {
  display: grid;
  color: var(--color-white);
  font-size: 0.86rem;
  text-align: center;
}

/* promo styles */
.promo-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 35px;
  justify-content: center;
}
.promo-item {
  padding: 1rem;
  border-radius: 25px;
  border: 1px solid var(--color-gray-light);
  display: grid;
  grid-template-rows: repeat(3, auto);
  row-gap: 23px;
  justify-items: center;
  transition: 0.3s ease-out;
}
.promo-container a:hover .promo-item {
  box-shadow: 0 0 20px 8px var(--color-gray-light);
  border-color: transparent;
  transform: scale(1.05);
}
.promo-item .fa {
  font-size: 2rem;
  color: var(--color-primary);
  transition: 0.3s ease-out;
}
.promo-container a:hover .promo-item .fa {
  color: var(--color-orange);
}
.promo-desc {
  color: var(--color-black-2);
  font-size: 0.9rem;
  text-align: center;
}

/* about styles */
.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 30px;
}
.about-content {
  display: grid;
  justify-items: start;
  row-gap: 25px;
}
.about-desc {
  font-size: 0.92rem;
  color: var(--color-black-2);
  line-height: 30px;
}
.about-options ul {
  display: grid;
  row-gap: 12px;
}
.about-options ul li .fa {
  color: var(--color-primary);
  margin-left: 4px;
}
.about-options ul li span {
  font-size: 0.86rem;
  color: var(--color-black-2);
}
.about-image img {
  width: 100%;
}

/* our-services styles */
.our-services-section {
  background-color: var(--color-white-2);
  margin-top: 3rem;
}
.services-title-container {
  width: 70%;
  margin: 0 auto;
  display: grid;
  row-gap: 25px;
  justify-items: center;
}
.our-services-subtitle {
  font-size: 1rem;
  color: var(--color-black-2);
}
.our-services-items {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  grid-template-rows: repeat(3, auto);
  gap: 25px;
  margin-top: 3rem;
}
.our-service-item {
  display: grid;
  justify-items: center;
  align-content: center;
  row-gap: 20px;
  padding: 2rem;
  background-color: var(--color-white);
  border-radius: 25px;
  text-align: center;
}
.our-service-desc {
  display: grid;
  grid-template-rows: repeat(3, auto);
  row-gap: 10px;
  justify-items: center;
}
.our-service-desc .fa {
  font-size: 2.5rem;
  color: var(--color-primary);
}
.our-service-desc p {
  color: var(--color-black-2);
  font-size: .92rem;
  line-height: 30px;
}
.our-service-price {
  font-size: .7rem;
}
.our-service-price span {
  font-weight: bold;
}
